body {
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    }

#wrapper {
    width:900px;
    margin:0px auto;
    border:0px solid #bbb;
    padding:10px;
    background-color:#FFB8A8;
    }

#header {
    border:0px solid #bbb;
    height:80px;
    padding:10px;
    #background-color:#65A6D1;
    text-align:center;
}
#content {
    margin-top:10px;
    padding-bottom:10px;
    }
#content div {
    padding:10px;
    border:0px solid #bbb;
    float:left;
    }
#content-left {
    width:180px;
    #background-color:#FFAA40;
    }
#content-main {
    margin-left:10px;
    text-align:center;
    width:500px;
    background-color:#CFCFCF;
    }
#content-right {
    margin-left:10px;
    width:134px;
    #background-color:#BF8030;
}
#footer {
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    border:0px solid #bbb;
    width:878px;
    #background-color:#0A67A3;
    }
#bottom {
    clear:both;
    text-align:right;
    }

#result {

    float:left;
}

#inputdec {
    width:70%;
    text-align:center;
    line-height:2em;
    border:0px solid;
}

#inputbin {
    width:70%;
    text-align:center;
    line-height:2em;
    border:0px solid;


}
